/* Hides vault name */
.zenmode-active .workspace-sidedock-vault-profile,
body.hider-vault:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  display: none;
}

/* Hide tabs */
.zenmode-active .mod-root .workspace-tabs .workspace-tab-header-container {
  display: none;
}

/* Hide tabs */
.zenmode-active .pdf-toolbar {
  display: none;
}

/* Hide navbar */
.zenmode-active .mobile-navbar {
  display: none;
}

/* body>div.app-container>div.horizontal-main-container>div>div.workspace-split.mod-vertical.mod-root.mod-visible>div>div.workspace-tab-container>div>div>div.view-header {
  display: none;
} */
.zenmode-active div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root.mod-visible > div > div.workspace-tab-container > div > div > div.view-header {
  display: none;
}

.zenmode-active .view-header-nav-buttons {
    display: none;
}


/* Hide sidebar buttons */
.zenmode-active .sidebar-toggle-button.mod-right,
.zenmode-active .sidebar-toggle-button.mod-left {
  display: none;
}

/* Hide meta */
.zenmode-active .markdown-reading-view .metadata-container {
  display: none;
}

/* Hide scrollbars */
.hider-scroll ::-webkit-scrollbar {
  display: none;
}

/* Hide status */
.zenmode-active .status-bar {
  display: none;
}

/* Hide tooltips */
.zenmode-active .tooltip {
  display: none;
}

/* Hide search suggestions */
.hider-search-suggestions .suggestion-container.mod-search-suggestion {
  display: none;
}

/* Hide search count flair */
.zenmode-active .tree-item-flair:not(.tag-pane-tag-count) {
  display: none;
}

/* Hide instructions */
.zenmode-active .prompt-instructions {
  display: none;
}

/* Hide file nav header */
.zenmode-active .workspace-leaf-content[data-type=file-explorer] .nav-header {
  display: none;
}
